.TodoItem {
    transition: .5s ease;
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.485);
  }
  
  .TodoItem:hover{
    transition: .5s ease;
    background-color: #61DAFA;
    /* border: 1px solid black; */
  }

  .TodoItem__p {
    padding-left: 40px;
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  
  .TodoItem__p-completed {
    text-decoration: line-through;
  }
  
  .Icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 35px;
    font-weight: bold;
    /* background-color: #CCC; */
  }
  
  .Icon__check {
    position: absolute;
    left: 12px;
  }
  .Icon__check-active {
    color: #4caf50;
  }
  
  .Icon__delete {
    transition: .5s ease;
    right: 0;
    color: red;
  }
  .Icon__delete:hover {
    transition: .5s ease;
    color: rgb(137, 0, 0);
  }